<div class="container-fluid" id="questionnaire-tlc">
  <div id="questionnaire-nav-c" class="col-sm-12">
    <div class="col-12 btn-group btn-group-toggle"  #labelContainer data-toggle="buttons">
      <label class="btn btn-sm tab-label">
        <input (click)="toggleTab(0)" [routerLink]="['questions']" type="radio" name="options" >Questions
      </label>
      <label *ngIf="isAdmin" class="btn btn-sm tab-label">
        <input (click)="toggleTab(1)" [routerLink]="['share']" type="radio" name="options" >Share
      </label>
      <label class="btn btn-sm tab-label">
        <input (click)="toggleTab(isAdmin ? 2 : 1)" [routerLink]="['results']" type="radio" name="options" >Results
      </label>
      <label id="helper-label">
      </label>
    </div>
  </div>
  <div id="tab-router-container">
    <router-outlet></router-outlet>
  </div>
</div>
