<div id="questions-tlc" class="container-fluid">
  <ng-container *ngTemplateOutlet="isAdmin? adminView : userView">
  </ng-container>
</div>

<ng-template #adminView>
  <div id="title-input-c" class="row col-sm-12 justify-content-center">
    <button id="publish-button" class="btn btn-primary">PUBLISH</button>
    <input
      id="title-input"
      type="text"
      placeholder="Enter title"
      value="{{questionnaire.title}}"
      (blur)="onUpdateTitle()">
  </div>

  <div id="question-list-container" class="col-sm-12">
    <input id="question-input" type="text" placeholder="Enter question">
    <ul class="list-group p-0">
      <li class="list-group-item" *ngFor="let question of questionnaire.questions">
        <div class="question-container">
          {{question.description}}
        </div>
        <button (click)="onRemoveQuestion(question.id)" class="remove-button">X</button>
      </li>
    </ul>
    <button (click)="onAddQuestion()" id="add-button">+ ADD QUESTION</button>
  </div>
</ng-template>

<ng-template #userView class="test">
  <div style="text-align: center">
    <div class="col-sm-12">
      <p>Questionnaire 1</p>
    </div>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div *ngFor="let question of questionnaire.questions" class="question-container-user col-sm-12">
        <p class="q-tag">Question {{questionnaire.questions.indexOf(question) + 1}}</p>
        <h4>{{question.description}}</h4>
        <label class="radio-container">1
          <input type="radio" value="1" [ngModel]="" name="radio{{questionnaire.questions.indexOf(question)}}">
          <span class="checkmark"></span>
        </label>
        <label class="radio-container">2
          <input  type="radio" value="2" ngModel name="radio{{questionnaire.questions.indexOf(question)}}">
          <span class="checkmark"></span>
        </label>
        <label class="radio-container">3
          <input  type="radio" value="3" ngModel name="radio{{questionnaire.questions.indexOf(question)}}">
          <span class="checkmark"></span>
        </label>
        <label class="radio-container">4
          <input  type="radio" value="4" ngModel name="radio{{questionnaire.questions.indexOf(question)}}">
          <span class="checkmark"></span>
        </label>
        <label class="radio-container">5
          <input type="radio" value="5" ngModel name="radio{{questionnaire.questions.indexOf(question)}}">
          <span class="checkmark"></span>
        </label>
      </div>
      <input id="submit-button" type="submit" value="SUBMIT" class="btn btn-primary">
    </form>
  </div>
</ng-template>
