<ng-template appPlaceholder></ng-template>
<div id="auth-tlc">
  <section >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-5 text-center">
          <h1>Questionnaires</h1>
          <div class="info-form mt-5">
            <form class="justify-content-center" (submit)="onLogin(loginForm)" #loginForm="ngForm">
              <div class="form-group">
                <input
                  type="email"
                  name="email"
                  ngModel
                  class="form-control"
                  placeholder="E-Mail"
                  #emailInput="ngModel"
                  email
                  (focus)="onFocus()"
                >
                <div class="text-left text-danger" *ngIf="emailInput.invalid">Please enter a valid email</div>
                <div class="text-left text-danger" *ngIf="!correctEmail">Wrong email, try again</div>
              </div>
              <div class="form-group">
                <input
                  type="password"
                  name="password"
                  ngModel
                  #passwordInput="ngModel"
                  class="form-control"
                  placeholder="Password"
                  (focus)="onFocus()"
                >
                <div class="text-left text-danger" *ngIf="!correctPassword">Wrong password, try again</div>
              </div>
              <button type="submit" class="btn btn-primary m-2 d-inline">Login</button>
              <button [routerLink]="['/auth/signup']" class="btn btn-primary m-2 d-inline">Sign up</button>
            </form>
          </div>
          <br>
        </div>
      </div>
    </div>
  </section>
</div>
