<div class="col-sm-12" id="questionnaires-container">
  <div class="row justify-content-start" id="desktop-navigation-c">
    <div class="col-sm-5">
      <p>All Questionnaires</p>
    </div>
    <div class="col-sm-7">
      <button
        *ngIf="isAdmin"
        (click)="onAddQuestionnaire()"
        id="add-q-button"
        class="btn btn-primary"
      >ADD QUESTIONNAIRE</button>
    </div>
  </div>
  <div id="questionnaires-list">
    <table>
      <tr *ngFor="let row of (questionnaires|async).questionnaires|row:5">
        <td class="content" *ngFor="let questionnaire of row">
          <div class="content">
            <div class="table">
              <div class="table-cell">
                <button (click)="redirect(questionnaire._id)" class="open-button">
                  <h4>{{questionnaire.title}}</h4>
                  <h5>{{questionnaire.completed.length}} responses</h5>
                  <h6>{{getFormattedDate(questionnaire.dateModified)}}</h6>
                </button>
                <button *ngIf="isAdmin" (click)="onRemoveQuestionnaire(questionnaire._id)" class="remove-button">
                  X
                </button>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
