#header-container {
  margin-top: 15px;
}

label {
  border-bottom: 1px solid #D3D3D3;
  color: #D0D0D0;
  height: 80%;
}

label:hover {
  border-bottom: 1px solid #0077e6;
  color: #0077e6
}

p {
  margin: 0;
  padding: 2% 2% 0 0;
  width: 80px;
}

.toggled {
  border-bottom: 1px solid #0077e6;
  color: #0077e6
}
